body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DDDDDD;
}

a {
	font-size: 0.7em;
	text-decoration: none;
	color: blue;
}
a:visited {
	color: blue;
    text-decoration: none;
}

#foot {
    position: absolute;
	bottom: 0;
	height: 25px;   /* Height of the footer */	
}